@charset "UTF-8";
:root {
      --bg-color: #FFE0AC;
      --button-bg-color: #6886C5;
      --button-text-color: #fff;
      --default-text-color: #846A52;
      --active-button-color: #FFACB7;
        }
*{margin:0; padding:0;  color: var(--button-text-color);}

body {
  background: var(--default-text-color);
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.hidden {
  display: none;
}


#main {
  background: var(--button-text-color);
  padding: 2em;
  width: 80vw;
  margin: 0 auto;
  height: 650px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  /* box-shadow: none | x-position y-position blur spread color | inset | initial | inherit */
  text-align: center;
  position: relative;
  min-width: 1000px;
}

#header {
  width: 20%;
  height: 100%;
  background: var(--bg-color);
  border-radius: 20px;
  overflow: hidden;
  float: left;
  margin-right: 3%;
  min-width: 200px;
}

#header #gnb li {
  width: 90%;
  margin: 25px auto;
  border-radius: 20px;
  position: relative;
  transition: all 0.2s ease-in-out;
  background-color: var(--button-bg-color);
}


#header #gnb li:hover {
  background-color: var(--active-button-color);
}

#header #gnb li a {
  display: inline-block;
  width: 100%;
  padding: 15px 20px;
  transition: all 0.2s ease-in-out;
}

#header #gnb li:hover a {
  color: var(--button-text-color);
  font-weight: 500;
}

#header #gnb li a span {
  display: inline-block;
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 20px;
}

#header #gnb li:hover a span{
  color: var(--button-text-color);
}

.liClick {
  background-color: var(--active-button-color);
}

.aClick {
  color: var(--button-text-color);
  
  font-weight: 500;
}

.spanClick {
  color: var(--button-text-color);
}


#HOME, #MYLISTS, #LISTDETAIL, #CALENDAR {
  width: 77%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--default-text-color);
}

#HOME .login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--default-text-color);
  font-weight: bold;
  flex-direction: column;
}

#HOME .login div {
  color: var(--default-text-color);
}

#HOME .login div.success {
  font-size: 1.5em;
}

#HOME .login div.box {
  background-color: var(--button-bg-color);
  width: 80%;
  height: 50%;
  box-sizing: border-box;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2em;
  color: var(--button-text-color);
}

#HOME .login form label, #HOME .login form input{
  color: var(--default-text-color);
  box-sizing: border-box;
  margin: 10px;
  padding: 3px;
}

#HOME .login form input {
  border: 1px solid var(--default-text-color);
}

#HOME .login form input:focus {
  outline:none;
}

#HOME .login form button, #HOME .login a {
  position: absolute;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  outline: none;
  line-height: 30px;
  height: 30px;
  width: 100px;
  bottom: 10%;
  right: 5%;
  font-weight: bold;
}

/* 미디어쿼리 설정 */

@media screen and (max-width: 1200px) {

  #main {
    min-width: 700px;
  }
  
  #header {
  width: 80vw;
  height: 15%;
  margin-bottom: 50px;
  min-width: 700px;
}

#header #gnb {
  display: flex;
}

#header #gnb li {
  width: 20%;
  
}

#HOME, #MYLISTS, #LISTDETAIL, #CALENDAR {
  width: 80vw;
  height: 77%;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--default-text-color);
  min-width: 700px;
}

}

@media screen and (max-width: 700px) {
  #main {
    height: 100%;
    min-width: 340px;
  }

  #header {
    height: 35%;
    min-width: 340px;
    overflow-y: scroll;
  }

  #header #gnb {
  flex-direction: column;
  width: 100%;
  }

  #header #gnb li {
    width: 80%;
    margin: 10px auto;
  }

#HOME, #MYLISTS, #LISTDETAIL, #CALENDAR {
  height: 55%;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--default-text-color);
  min-width: 340px;
}

#HOME .login form button, #HOME .login a {
  right: 10%;
}
}

/* 달력 스타일링 */

.calendar {
    width: 100%;
    max-width: 700px;
    margin: auto;
    font-size: 16px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    background-color: #ddd;
}

.calendar-day {
    width: 14.28%;
    text-align: center;
}

.calendar-body {
    display: flex;
    flex-wrap: wrap;
}

.calendar-date {
    width: 14.28%;
    height: 70px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.circle {
    position: relative;
}

.circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #6886c5;
    z-index: -1;
}
